body { padding-top: 60px; }
.dropdown-login{
    min-width: 250px;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
}

.full-width {
    width: 100%;

    margin: 0 auto;
}

.full-height {

    height: 100%;
}
.chatInCityForm{
    border: 4px solid black;
    width: 50%;
    height: 50%;
}
.chathistrydisplay{
    max-height: 200px;
    overflow: scroll;
}
#m{
    width: 90%;
    height: 100%;
}
#b{
    width: 10%;
    background: rgb(130, 224, 255);
}

#message{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:50%;
    background: #eee;
}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.checkbox input[type="checkbox"].rememberme{
    margin-left: 0;
}
.btn-login-facebook{
    background: #3B5998;
    color: #ffffff;
}
