body { padding-top: 60px; }
.dropdown-login{
    min-width: 250px;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 300px;

    margin: 0 auto;
}

.full-width {
    width: 100%;

    margin: 0 auto;
}

.full-height {

    height: 100%;
}
#form{
    border: 4px solid black;
    width: 50%;
    height: 50%;
}
#m{
    width: 90%;
    height: 100%;
}
#b{
    width: 10%;
    background: rgb(130, 224, 255);
}

#message{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:50%;
    background: #eee;
}
